<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글상세</title>
</head>
<body>
    <form method="post">
        <p>
            <input type="hidden" name="id"  th:value="${board.id}">
        </p>

        <p>
            <input type="text" name="title" th:value="${board.title}">
        </p>

        <p>
            <textarea name="content" id="" cols="30" rows="10" th:text="${board.content}">
                내용
            </textarea>
        </p>

        <p>
            <input type="submit" value="수정" th:formaction="@{/boardUpdate}">
        </p>

        <p>
            <input type="submit" value="삭제" th:formaction="@{/boardDelete}">
        </p>
    </form>
</body>
</html>